<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ASG TECHSOLUTIONS PVT.LTD.</title>
	<!-- Latest compiled and minified CSS -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</script>

<!-- SOCIAL MEDI LIBRARY!-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
</script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

body {
     background: url(https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg) fixed;
    background-size: cover;
}
  </style>
</head>



<body>
	

<header>
  <!-- FOR NAV BAR UPAR VAALA -->
  
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top "  style="background: #000000">
    <a class="navbar-brand" href="#">ASG Technologies</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
      <span class="navbar-toggler-icon"></span>
     </button>
  
    <div class="collapse navbar-collapse class" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        
          
        
        <li class="nav-item  " >
          <a class="nav-link" href="#"  style="padding-left: 20px; color: white;">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="padding-left: 20px; color: white;">About Us</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link " href="#" style="padding-left: 20px; color: white;">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/admin/logout" method="POST">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="padding-left: 20px; color: white;"> -->
        <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> -->
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log Out</button>
        
      </form>
    </div></button>
  </nav>

</header>
<br>
<hr>
<section>
<h1>
  <div class="font-weight-bold text-white col-lg-12 text-xl-center text-lg-center text-center">
   Welcome <%=name%> 
</div>
</h1>

<div class="row text-dark text-center">
  <div class="col-lg-4 col-md-4 col-12 container-fluid">
    <div class="card" style="width:400px">
  <img class="card-img-top" src="ni3.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Networking</h4>
    <p class="card-text"></p>
    <form action="/networkingupload" method="POST">
    <button  class="btn btn-primary">Know More</button>
  </form>
  </div>
</div>
  </div>

  <div class="col-lg-4 col-md-4 col-12 container-fluid">
    <div class="card" style="width:400px">
  <img class="card-img-top" src="ni3.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Security</h4>
    <p class="card-text"></p>
    <form action="/securityupload" method="POST">
      <button class="btn btn-primary">Know More</button>
    </form>
  </div>
</div>
  </div>

  <div class="col-lg-4 col-md-4 col-12">
    <div class="card" style="width:400px">
  <img class="card-img-top" src="ni3.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Servers</h4>
    <p class="card-text"></p>
    <form action="/serverupload" method="POST">
      <button class="btn btn-primary">Know More</button>
    </form>
  </div>
</div>
  </div>

  
</div>

<hr>
<h1>
  <div class="font-weight-bold text-white col-lg-12 text-xl-center text-lg-center text-center">
  FREE COURSES
</div>
</h1>


<section>
  

<div class="row text-dark text-center">
  <div class="col-lg-4 col-md-4 col-12 container-fluid">
    <div class="card" style="width:400px">
  <img class="card-img-top" src="ni3.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Language</h4>
    <p class="card-text"></p>
    <form action="/languageupload" method="POST">
      <button class="btn btn-primary">Know More</button>
    </form>
 
  </div>
</div>
  </div>

  <div class="col-lg-4 col-md-4 col-12 container-fluid">
    <div class="card" style="width:400px">
  <img class="card-img-top" src="ni3.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Live Batches</h4>
    <p class="card-text"></p>
    
    <form action="/liveupload" method="POST">
      <button class="btn btn-primary">Know More</button>
    </form>

  </div>
</div>
  </div>

  <div class="col-lg-4 col-md-4 col-12">
    <div class="card" style="width:400px">
  <img class="card-img-top" src="ni3.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Consultancy</h4>
    <p class="card-text"></p>
    <form action="/consultancyupload" method="POST">
    <button class="btn btn-primary">Know More</button>
    </form>
  </div>
</div>
  </div>

  
</div>

<hr>


</section>


<!-- Footer -->
 <footer  style="background: #000000;">

  <!-- Footer Links -->
  <div class="container text-center  my-4 text-white text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">Our Mission</a>
          </li>
          <li>
            <a class="text-white" href="#!">Our Team</a>
          </li>
          <li>
            <a class="text-white" href="#!">Our Partner</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Live Session</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">Network</a>
          </li>
          <li>
            <a class="text-white" href="#!">Server</a>
          </li>
          <li>
            <a class="text-white" href="#!">Security</a>
          </li>
          <li>
            <a class="text-white" href="#!">Language</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto ">

        <!-- Links -->
        <h5 class="font-weight-bold  my-4 text-white text-uppercase mt-3 mb-4">Help & Support</h5>

        <ul class="list-unstyled text-white">
          <li>
            <a class="text-white" href="#!">FAQ</a>
          </li>
          <li>
            <a  class="text-white" href="#!">Contact Us</a>
          </li>
          <li>
            <a class="text-white" href="#!">License Agreement</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook fa-2x text-primary mx-3"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw ">
          <i class="fab fa-twitter fa-2x text-info mx-3"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus fa-2x text-danger mx-3"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-youtube fa-2x text-danger mx-3"></i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2020 ASG Techsolutions.All Rights Reserved
   
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>