<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ASG TECHSOLUTIONS PVT.LTD.</title>
  <!-- Latest compiled and minified CSS -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</script>

<!-- SOCIAL MEDI LIBRARY!-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
</script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  </style>
</head>



<body>
  

<header>
  <!-- FOR NAV BAR UPAR VAALA -->
  <nav class="navbar navbar-expand-lg .navbar-dark bg-dark ">
  <a class="navbar-brand" href="#" style="padding-left: 20px; color: white;">ASG Techsolutions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active text-light">
        <a class="nav-link" href="home pageasg.html"  style="padding-left: 20px; color: white;">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="studentdashboard.html"  style="padding-left: 20px; color: white;">STUDENTS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" style="padding-left: 20px; color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    COURSES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" >WEB</a>
          <a class="dropdown-item" href="#" >PROGRAMMING</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" >OTHER COURSES</a>
        </div>
      

      <li class="nav-item">
        <a class="nav-link" href="#"  style="padding-left: 20px; color: white;">LIVE SESSION</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#"  style="padding-left: 20px; color: white;"> ABOUT </a>
      </li>



      <li class="nav-item">
        <a class="nav-link" href="#"  style="padding-left: 20px; color: white;">CONTACT US</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>
    

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>
<div>
  
<!-- 
<button class=" btn btn-warning" data-toggle="modal"   style="padding-left: 10px;" data-target="#myModal">LOGIN / SIGN UP  </button>

<br> -->

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">LOGIN</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
           
           <!--  form sign in vaala   </!-->
           <!-- <form action="">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" placeholder="Enter email" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd">
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <br>
  <div> 
    
  <button type="button" class="btn btn-outline-primary btn-lg float-right">SIGN UP NOW</button>
</div>
</form>-->

          <!-- LIKH LE KUCH BHI IDHAR !-->
      
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
<br>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 "  style="padding-left: 20px; color: white;" type="submit">Search</button>



    </form>
  </div>
</nav>

</header>
<!-- address and email id company!-->

<h2 class="  text-dark font-weight-bold">address</h2>
<h2 class="  text-dark font-weight-bold">Email:support@asgtechsolutions.com</h2>
<h2 class="  text-dark font-weight-bold">Phone: 9999999999</h2>

</body>

<h1 class=" text-uppercase text-dark font-weight-bold text-lg-center text-md-center">Have a coffee</h1>
<!-- form for customer details!-->
<form action="/contact" method="POST" style="padding-right: 430px; padding-left: 430px;" id="contactform">
    <div class="form-group ">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

<div class="form-group ">
      <label for="usr">Email:</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="form-group ">
      <label for="usr">Phone Number:</label>
      <input type="text" class="form-control" id="message" name="phonenumber">
    </div>

      <div class="form-group ">
  <label for="comment">Message:</label>
  <textarea class="form-control" rows="5" id="comment" name="message"></textarea>
</div>

    <button type="submit" class="btn btn-primary align-middle">Submit</button>
  </form>


<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Our Mission</a>
          </li>
          <li>
            <a href="#!">Our Team</a>
          </li>
          <li>
            <a href="#!">Our Partner</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Live Session</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Network</a>
          </li>
          <li>
            <a href="#!">Server</a>
          </li>
          <li>
            <a href="#!">Security</a>
          </li>
          <li>
            <a href="#!">Language</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help & Support</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
          <li>
            <a href="#!">License Agreement</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook fa-2x text-primary mx-3"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw ">
          <i class="fab fa-twitter fa-2x text-info mx-3"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus fa-2x text-danger mx-3"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-youtube fa-2x text-danger mx-3"></i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 ASG Techsolutions.All Rights Reserved
   
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$('contactform').on('submit',(e)=>{
  e.preventDefault();
  const name = $('#name').val().trim()
  const email = $('#email').val().trim()
  const message = $('#message').val().trim()
  
  
  const data = {name,email,phonenumber,message}
  $.post('/contact',data,function(){
    console.log("SERVER RECIEVED OUR DATA")
  })
  
})

</script>

</html>
